body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}



#map {
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h1, h2, p {
    margin: 20px;
}